  <!-- Hero -->
  <section class="bg-dark bg-size-cover bg-repeat-0 bg-position-center position-relative overflow-hidden py-5 mb-4" style="background-image: url(assets/img/background/imgBackNav.jpg);" data-bs-theme="dark">
   <div class="container position-relative zindex-2 pt-5 pb-md-2 pb-lg-4 pb-xl-5">
     <div class="row pt-3 pb-2 py-md-4">

       <!-- Text -->
       <div class="col-xl-5 col-md-6 pt-lg-5 text-center text-md-start mb-4 mb-md-0">
         <h1 class="display-3 pb-2 pb-sm-3 ">Make Your Life Even Easier with Maker Link</h1>
         <p class="text-body fs-lg d-md-none d-xl-block pb-2 pb-md-0 mb-4 mb-md-5">We guarantee express manufacturing and consistent quality for complex prototypes and end-use parts by partnering with hundreds of specialized manufacturers.</p>
          <!-- New Text Content -->
        <ul class="text-body fs-lg list-unstyled ps-0 pb-2 pb-md-0 mb-4 mb-md-5">
          <li>Compare manufacturers' offers</li>
          <li>Quality insurance</li>
          <li>Parts in as Fast as 24 Hours</li>
          <li>Instant price estimation</li>
        </ul>
         <div class="d-flex justify-content-center justify-content-md-start pb-2 pt-lg-2 pt-xl-0">
          <button href="#" class="btn btn-lg btn-primary  me-3 me-sm-4 btn ">Get A Free Quate</button>
          <button href="#" class="btn btn-lg btn-outline-secondary">Local Manufacturers</button>
         </div>
         <div class="d-flex align-items-center justify-content-center justify-content-md-start text-start pt-4 pt-lg-5 mt-xxl-5">
           <div class="d-flex me-3">
             <div class="d-flex align-items-center justify-content-center bg-light rounded-circle" style="width: 52px; height: 52px;">
               <img src="assets/img/avatar/14.jpg" class="rounded-circle" width="48" alt="Avatar">
             </div>
             <div class="d-flex align-items-center justify-content-center bg-light rounded-circle ms-n3" style="width: 52px; height: 52px;">
               <img src="assets/img/avatar/08.jpg" class="rounded-circle" width="48" alt="Avatar">
             </div>
             <div class="d-flex align-items-center justify-content-center bg-light rounded-circle ms-n3" style="width: 52px; height: 52px;">
               <img src="assets/img/avatar/15.jpg" class="rounded-circle" width="48" alt="Avatar">
             </div>
           </div>
           <div class="text-light"><strong>400k+</strong> users already with us</div>
         </div>
       </div>

        <!-- Parallax gfx -->
       <div class="col-xl-7 col-md-6 d-md-flex justify-content-end">
         <div class="parallax mx-auto ms-md-0 me-md-n5" style="max-width: 675px;">
          <div class="swiper-slide h-auto pt-4 swinging" data-depth="0.1">
            <img src="assets/img/landing/saas-3/hero/layer06.png" class="swinging" alt="Swinging Component" alt="Card">

          </div>
          
           
         </div>
       </div>
     </div>
   </div>
 </section>