<div class="container bg-secondary">
  <div class="container py-2 py-md-4 py-lg-5">

    <!-- Ligne pour le titre et l'input group -->
    <div class="row my-4 align-items-center">
      <div class="col-sm-12 col-md-8">
        <h2 class="textcouleur">Share your profile</h2>

    </div>

        <p >Share profile with your customers, get more reach and grow your business with SeekMake</p>

        <div class="row align-items-center">
            <div class="col-lg-6 col-md-4 col-sm-12 mt-3">
                <div class="input-group mb-3 mt-3">
                    <input type="text" class="form-control" value="https://seekmake.com/profile/club_micro" readonly id="urlInput">
                    <div class="input-group-append">
                      <button class="btn btn-outline-primary" type="button" (click)="copyToClipboard()">
                        <i class='bx bxs-copy-alt'></i>
                      </button>
                    </div>
                  </div>
                  
            </div>
            <div class="col-lg-6 col-md-4 col-sm-12 mt-3">
                <div class="d-lg-flex justify-content-end " >
                    <button class="btn btn-primary spaced-btn">
                        <i class='bx bx-show-alt'></i>
                        &nbsp; View Store Front
                    </button>
                    <button class="btn btn-primary spaced-btn">
                        <i class='bx bx-detail'></i>              
                        &nbsp; Get More Orders!
                    </button>
                    <button class="btn btn-primary spaced-btn">
                      <i class='bx bxs-share-alt'></i>
                      &nbsp; Invite Customers
                  </button>
                  
                    
                </div>
            </div>
             </div>

    </div>
  </div>
</div>


  