

<div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="card p-md-5 p-4 border-0 bg-secondary">
            <div class="card-body w-100 mx-auto px-0" style="max-width: 746px;">
                
                <div class="row gy-4 ">

                    <div class="col-lg-6 col-md-12">

                      <div class="wideget-user-desc d-flex">
                        <div class="d-table position-relative">
                            <img src="assets/img/avatar/unnamed.png" class="d-block rounded-circle" width="120" alt="John Doe">
                                <button type="button" class="btn btn-icon btn-light bg-white btn-sm border rounded-circle shadow-sm position-absolute bottom-0 end-0 mt-4" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Change picture" aria-label="Change picture">
                                  <i class="bx bx-refresh"></i>
                                </button>
                            </div>

                           <div class="col-lg-6 col-md-12">
                          <p class="text-muted mb-3 font-weight-normal">Images format PNG or JPG and size must be less than 5Mb</p>
                          <a href="#" class="delete-picture">Delete Picture</a>
                        </div>
                    </div>

                    </div>
                  </div>
                  
                  <form class="row gy-4 needs-validation" novalidate>
                <div class="col-sm-6 col-12">
                  <label for="c-name" class="form-label fs-base">Company name</label>
                  <input id="c-name" type="text" class="form-control form-control-lg" required>
                  <span class="invalid-tooltip">Please, enter your Company name.</span>
                </div>
                <div class="col-sm-6 col-12">
                  <label for="c-email" class="form-label fs-base">Store Front URL</label>
                  <input id="c-email" type="email" class="form-control form-control-lg" required>
                  <span class="invalid-tooltip">Please, entre Store Front URLs.</span>
                </div>
                <div class="col-sm-6 col-12">
                    <label for="c-name" class="form-label fs-base">Your website</label>
                    <input id="c-name" type="text" class="form-control form-control-lg" required>
                    <span class="invalid-tooltip">Please, enter your Your website.</span>
                  </div>
                  <div class="col-sm-6 col-12">
                    <label for="c-email" class="form-label fs-base">Location</label>
                    <input id="c-email" type="email" class="form-control form-control-lg" required>
                    <span class="invalid-tooltip">Please, entre Location.</span>
                  </div>
                <div class="col-12">
                  <label for="c-comment" class="form-label fs-base">Describe your business and services</label>
                  <textarea id="c-comment" class="form-control form-control-lg" rows="3" placeholder="Type your comment here..." required></textarea>
                  <span class="invalid-tooltip">Please, enter your comment.</span>
                </div>
               
                <div class="col-12">
                  <button type="submit" class="btn btn-lg btn-primary w-sm-auto w-100 mt-2">Save Changes</button>
                </div>
              </form>
            </div>
          </div>      </div>
      <div class="col-md-4">
            <div class="container">
                <h1 class="text-center">Set up your profile</h1>
                <p>Complete your profile and start getting orders</p>
                <div class="steps steps-sm">
                    <div class="step">
                      <div class="step-number">
                        <div class="step-number-inner"> 1</div>
                      </div>
                      <div class="step-body">
                        <h6 class="mb-2">Step 1</h6>
                        <p class="mb-0">Add profile picture.</p>
                      </div>
                    </div>
                    <div class="step">
                      <div class="step-number">
                        <div class="step-number-inner"> 2</div>
                      </div>
                      <div class="step-body">
                        <h6 class="mb-2">Step 2</h6>
                        <p class="mb-0">Add materials to machine.</p>
                      </div>
                    </div>
                    <div class="step">
                      <div class="step-number">
                        <div class="step-number-inner"> 3</div>
                      </div>
                      <div class="step-body">
                        <h6 class="mb-2">Step 3</h6>
                        <p class="mb-0">Add picture to gallery.</p>
                      </div>
                    </div>
                    
                  </div>
            </div>

           
      </div>
    </div>
  </div>

  
    <div class="container text-center mt-5">
      <h2 class="text-center">Looking for something?</h2>
      <p class="text-muted">Consult a quick link</p>
      <div class="row mt-3">
        <div class="col-md-4 mb-2">
          <button class="btn btn-outline-primary w-100">Add Social media links</button>
        </div>
        <div class="col-md-4 mb-2">
          <button class="btn btn-outline-primary w-100">Add bulk pricing</button>
        </div>
        <div class="col-md-4 mb-2">
          <button class="btn btn-outline-primary w-100">Price settings</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-2">
          <button class="btn btn-outline-primary w-100">View Stats</button>
        </div>
        <div class="col-md-4 mb-2">
          <button class="btn btn-outline-primary w-100">Payment information</button>
        </div>
        <div class="col-md-4 mb-2">
          <button class="btn btn-outline-primary w-100">Start discount</button>
        </div>
      </div>
    </div>
  
    <!-- Bootstrap JS et dépendances -->
   
