<app-navbar></app-navbar>



<main >

    
  <!-- Solutions -->
  <section class="container mb-5 pb-lg-5 pb-md-4 pb-3 pt-5">

    <div class="mb-lg-5 mb-4 pb-lg-0 pb-md-2 text-center ">
        <button [routerLink]="['/company/get-started']" class="btn btn-lg btn-primary me-3 me-sm-4 btn buttonA">Get Started</button>
        <button [routerLink]="['/company/help-center']" class="btn btn-lg btn-light me-3 me-sm-4 btn  buttonB" >FAQ</button>
    </div>

    <h2 class="h1 mb-lg-5 mb-4 pb-lg-0 pb-md-2 text-center"><strong>Create a Manufacturer account</strong></h2>
    <p class=" mb-lg-5 mb-4 pb-lg-0 pb-md-2 text-center"> Our approach focuses on identifying key bottlenecks and implementing innovative strategies to streamline operations seamlesslys</p>
    <div class="row">
    <div class="col-md-4"> 
        <div class="card h-100">
            <div class="card-body my-md-5 my-4 py-xl-2 py-md-0 py-sm-2 text-center">
              <img src="assets/img/landing/software-agency-3/icons/05.png" alt="Icon" class="d-block mb-3 mx-auto" style="width: 60px; height: auto;">
              <h3 class="h5 mb-3"><strong>create a manufacturer account </strong></h3>
              <p class="mb-0">Whether you own one machine or several, MakerLink solution offers you a range of options suitable to your needs</p>
            </div>
          </div>
    </div>
    <div class="col-md-4"> 
        <div class="card h-100">
            <div class="card-body my-md-5 my-4 py-xl-2 py-md-0 py-sm-2 text-center">
              <img src="assets/img/landing/software-agency-3/icons/06.png" alt="Icon" class="d-block mb-3 mx-auto" style="width: 60px; height: auto;">
              <h3 class="h5 mb-3"><strong>Verify your account</strong></h3>
              <p class="mb-0">Complete your profile and setup you store front by setting your pricing system among other features to automate your business</p>
            </div>
          </div>
         </div>
    <div class="col-md-4"> 
        <div class="card h-100">
            <div class="card-body my-md-5 my-4 py-xl-2 py-md-0 py-sm-2 text-center">
              <img src="assets/img/landing/software-agency-3/icons/07.png" alt="Icon" class="d-block mb-3 mx-auto" style="width: 60px; height: auto;">
              <h3 class="h5 mb-3">Grow your busniess</h3>
              <p class="mb-0">Get indexed, operate globally, and reach more customers by sharing your store front and using our marketing tools</p>
            </div>
          </div>
    </div>
  </div>


</section>
<div class=" pb-md-2 text-center">
    <button href="#" class="btn btn-lg btn-primary me-3 me-sm-4 btn buttonA">create a manufacturer account</button>
</div>
<div class=" pb-md-2 text-center">

    <a  class="custom-link">How it works</a>
</div>

</main>

<app-footer></app-footer>