.profile-container {
    position: relative;
    width: 120px; /* Assurez-vous que cela correspond à la largeur de votre image */
    height: 120px; /* Assurez-vous que cela correspond à la hauteur de votre image */
  }
  
  .profile-image {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%; /* Pour rendre l'image circulaire */
    cursor: pointer;
  }
  
  .dropzone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; /* Enlever la bordure si nécessaire */
    background: rgba(255, 255, 255, 0); /* Transparent */
    cursor: pointer;
  }
  
  .btn-refresh {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%); /* Ajuster selon le design */
    /* Autres styles pour le bouton ici */
  }
  