<main class="page-wrapper">


    <!-- Navbar -->
    <!-- Remove "fixed-top" class to make navigation bar scrollable with the page -->
    <header class="header navbar navbar-expand-lg bg-light border-bottom border-light shadow-sm fixed-top">
      <div class="container px-3">
        <a  [routerLink]="['../']" class="navbar-brand pe-3">
          <img src="assets/img/logo.png" width="47" alt="Silicon">
        </a>
        <div id="navbarNav" class="offcanvas offcanvas-end">
          <div class="offcanvas-header border-bottom">
            <h5 class="offcanvas-title">Menu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle " data-bs-toggle="dropdown">Job Board</a>
               <div class="dropdown-menu p-0">
                  <div class="d-lg-flex">
                    <div iv class="mega-dropdown-column d-flex justify-content-center align-items-center rounded-3 rounded-end-0 px-0" style="margin: -1px; background-color: #f3f6ff;">
                      <img src="assets/img/landings.jpg" alt="Landings">
                    </div>
                    <div class="mega-dropdown-column pt-lg-3 pb-lg-4" style="--si-mega-dropdown-column-width: 15rem;">
                      <ul class="list-unstyled mb-0">
                        <li><a href="index-2.html" class="dropdown-item">Template Intro Page</a></li>
                        <li><a href="landing-mobile-app-showcase-v1.html" class="dropdown-item">Mobile App Showcase v.1</a></li>
                        <li><a href="landing-mobile-app-showcase-v2.html" class="dropdown-item">Mobile App Showcase v.2</a></li>
                        <li><a href="landing-mobile-app-showcase-v3.html" class="dropdown-item">Mobile App Showcase v.3<span class="badge bg-success ms-2">New</span></a></li>
                        <li><a href="landing-product.html" class="dropdown-item d-flex align-items-center">Product Landing</a></li>
                        <li><a href="landing-saas-v1.html" class="dropdown-item">SaaS v.1</a></li>
                        <li><a href="landing-saas-v2.html" class="dropdown-item">SaaS v.2</a></li>
                        <li><a href="landing-saas-v3.html" class="dropdown-item">SaaS v.3</a></li>
                        <li><a href="landing-saas-v4.html" class="dropdown-item">SaaS v.4</a></li>
                        <li><a href="landing-saas-v5.html" class="dropdown-item">SaaS v.5<span class="badge bg-success ms-2">New</span></a></li>
                      </ul>
                    </div>
                    <div class="mega-dropdown-column pt-lg-3 pb-lg-4">
                      <ul class="list-unstyled mb-0">
                        <li><a href="landing-startup.html" class="dropdown-item d-flex align-items-center">Startup</a></li>
                        <li><a href="landing-financial.html" class="dropdown-item">Financial Consulting</a></li>
                        <li><a href="landing-online-courses.html" class="dropdown-item">Online Courses</a></li>
                        <li><a href="landing-medical.html" class="dropdown-item">Medical</a></li>
                        <li><a href="landing-software-dev-agency-v1.html" class="dropdown-item">Software Dev Agency v.1</a></li>
                        <li><a href="landing-software-dev-agency-v2.html" class="dropdown-item">Software Dev Agency v.2</a></li>
                        <li><a href="landing-software-dev-agency-v3.html" class="dropdown-item">Software Dev Agency v.3</a></li>
                        <li><a href="landing-conference.html" class="dropdown-item">Conference</a></li>
                        <li><a href="landing-digital-agency.html" class="dropdown-item">Digital Agency</a></li>
                        <li><a href="landing-blog.html" class="dropdown-item">Blog Homepage</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle " data-bs-toggle="dropdown">Dashboard</a>
                <div class="dropdown-menu">
                  <div class="d-lg-flex pt-lg-3">
                    <div class="mega-dropdown-column">
                      <h6 class="px-3 mb-2">About</h6>
                      <ul class="list-unstyled mb-3">
                        <li><a href="about-v1.html" class="dropdown-item py-1">About v.1</a></li>
                        <li><a href="about-v2.html" class="dropdown-item py-1">About v.2</a></li>
                        <li><a href="about-v3.html" class="dropdown-item py-1">About v.3</a></li>
                      </ul>
                      <h6 class="px-3 mb-2">Blog</h6>
                      <ul class="list-unstyled mb-3">
                        <li><a href="blog-list-with-sidebar.html" class="dropdown-item py-1">List View with Sidebar</a></li>
                        <li><a href="blog-grid-with-sidebar.html" class="dropdown-item py-1">Grid View with Sidebar</a></li>
                        <li><a href="blog-list-no-sidebar.html" class="dropdown-item py-1">List View no Sidebar</a></li>
                        <li><a href="blog-grid-no-sidebar.html" class="dropdown-item py-1">Grid View no Sidebar</a></li>
                        <li><a href="blog-simple-feed.html" class="dropdown-item py-1">Simple Feed</a></li>
                        <li><a href="blog-single.html" class="dropdown-item py-1">Single Post</a></li>
                        <li><a href="blog-podcast.html" class="dropdown-item py-1">Podcast</a></li>
                      </ul>
                    </div>
                    <div class="mega-dropdown-column">
                      <h6 class="px-3 mb-2">Portfolio</h6>
                      <ul class="list-unstyled mb-3">
                        <li><a href="portfolio-grid.html" class="dropdown-item py-1">Grid View</a></li>
                        <li><a href="portfolio-list.html" class="dropdown-item py-1">List View</a></li>
                        <li><a href="portfolio-slider.html" class="dropdown-item py-1">Slider View</a></li>
                        <li><a href="portfolio-courses.html" class="dropdown-item py-1">Courses</a></li>
                        <li><a href="portfolio-single-project.html" class="dropdown-item py-1">Single Project</a></li>
                        <li><a href="portfolio-single-course.html" class="dropdown-item py-1">Single Course</a></li>
                      </ul>
                      <h6 class="px-3 mb-2">Services</h6>
                      <ul class="list-unstyled mb-3">
                        <li><a href="services-v1.html" class="dropdown-item py-1">Services v.1</a></li>
                        <li><a href="services-v2.html" class="dropdown-item py-1">Services v.2</a></li>
                        <li><a href="services-single-v1.html" class="dropdown-item py-1">Service Details v.1</a></li>
                        <li><a href="services-single-v2.html" class="dropdown-item py-1">Service Details v.2</a></li>
                      </ul>
                    </div>
                    <div class="mega-dropdown-column">
                      <h6 class="px-3 mb-2">Pricing</h6>
                      <ul class="list-unstyled mb-3">
                        <li><a href="pricing.html" class="dropdown-item py-1">Pricing Page</a></li>
                      </ul>
                      <h6 class="px-3 mb-2">Contacts</h6>
                      <ul class="list-unstyled mb-3">
                        <li><a href="contacts-v1.html" class="dropdown-item py-1">Contacts v.1</a></li>
                        <li><a href="contacts-v2.html" class="dropdown-item py-1">Contacts v.2</a></li>
                        <li><a href="contacts-v3.html" class="dropdown-item py-1">Contacts v.3</a></li>
                      </ul>
                      <h6 class="px-3 mb-2">Specialty</h6>
                      <ul class="list-unstyled">
                        <li><a href="404-v1.html" class="dropdown-item py-1">404 Error v.1</a></li>
                        <li><a href="404-v2.html" class="dropdown-item py-1">404 Error v.2</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle " data-bs-toggle="dropdown" aria-current="page">Tools</a>
                <ul class="dropdown-menu">
                  <li><a href="account-details.html" class="dropdown-item">Account Details</a></li>
                  <li><a href="account-security.html" class="dropdown-item">Security</a></li>
                  <li><a href="account-notifications.html" class="dropdown-item">Notifications</a></li>
                  <li><a href="account-messages.html" class="dropdown-item">Messages</a></li>
                  <li><a href="account-saved-items.html" class="dropdown-item">Saved Items</a></li>
                  <li><a href="account-collections.html" class="dropdown-item">My Collections</a></li>
                  <li><a href="account-payment.html" class="dropdown-item">Payment Details</a></li>
                  <li><a href="account-signin.html" class="dropdown-item">Sign In</a></li>
                  <li><a href="account-signup.html" class="dropdown-item">Sign Up</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link  " data-bs-toggle="dropdown" aria-current="page">Inbox</a>
             
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link  " data-bs-toggle="dropdown" aria-current="page">Store</a>
             
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link  " data-bs-toggle="dropdown" aria-current="page">Upgrade Plan</a>
             
              </li>
            
            
            </ul>
          </div>
             
        </div>
        
        <div class="d-flex align-items-center justify-content-end">
            <!-- Autres éléments de la navbar -->
        
            <!-- Bouton 'Get A Quote', à placer avant le profil de l'utilisateur -->
<!-- Bouton ajusté avec Bootstrap et CSS personnalisé -->
          <button *ngIf="isLoggedIn" class="btn btn-primary btn-lg px-4 py-1 me-2" style="height: 38px;">Get A Quote</button>
        
              
          </div>
           <!-- Utilisez *ngIf pour conditionnellement afficher le menu déroulant ou le bouton de connexion -->
          <!-- Menu déroulant pour l'utilisateur connecté -->

          
          <ng-container *ngIf="isLoggedIn && userRole === 'MAKER'">
            <div class="d-flex align-items-center">
              <div class="nav-item dropdown">
                <button class="nav-link dropdown-toggle" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  <img [src]="pathToProfileImage"  alt="Profile" class="profile-image">
                </button>
              <ul class="dropdown-menu dropdown-menu-end custom-widthprime" aria-labelledby="profileDropdown">
                <!-- Éléments du menu pour l'utilisateur avec le rôle CLIENT -->
                    
                       <!-- Éléments du menu pour l'utilisateur avec le rôle MAKER -->
                       <ng-container *ngIf="userRole === 'MAKER'">
                        <li><a class="dropdown-item gras" [routerLink]="['/maker/dashboard/manufacturer']"><i class="bx bx-user"></i> <h6>{{ firstName }} {{ lastName }}</h6></a></li>
                        <li><a class="dropdown-item gras" href="#"><i class="bx bx-credit-card"></i> Payments</a></li>
                         <li><a class="dropdown-item gras" href="#"><i class="bx bx-headphone"></i> Talk To An Expert</a></li>
                         <li><a class="dropdown-item gras" href="#"><i class="bx bx-help-circle"></i> How It Works</a></li>
                         <li><a [routerLink]="['/maker/dashboard/profile']" class="dropdown-item gras" href="#"><i class="bx bx-cog"></i> Account Settings</a></li>
                         <li> <a class="dropdown-item  gras" (click)="logout()"><i class="bx bx-log-out"></i> Log Out </a></li>
                       </ng-container>
                     </ul>
                  </div>
                      
                  </div>

           </ng-container>

         


      
        <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
      </div>
    </header>

